<%= partial "./partials/header" %>


<% wrap_layout :layout do %>
<div class="page">
    <div class="container">
      <a class="back-link" href="/projects">Projects</a>

      <div class="project-innerpage">
        <div class="readable">
          <div class="section-heading">
            <h1><%= current_page.data.name %></h1>
          </div>

          <div>
            <%= yield_content :about %>
          </div>
        </div>      

        <div class="showcase">
          <img src="/images/projects/<%= current_page.data.img_name %>.png"/>
          <dl>
            <dt>Members</dt>
            <dd><%= yield_content :members %></dd>
            <dt>Technologies Used</dt>

            <dd>
              <% technology_links(current_page.data['technologies']).each do |name, url| %>
                <% if url %>
                  <a href="<%=url%>"><span class="techIcon <%=name%>"></span></a>
                <% else %>
                <span class="techIcon <%=name%>"></span>
                <% end %>
              <% end %>
            </dd>
          </dl>
        </div>
      </div>
      </div>

      <% if content_for?(:articles) %>
      <div class="section">
        <div class="container">
          <div class="section-heading">
            <h2>Related Posts</h2>
            <a class="btn btn-link" href="https://medium.com/tarkalabs" target="_parent">View all</a>
          </div>

          
              <% if yield_content(:articles) %>
              <%= yield_content :articles %>
              <% end %>
    
          <div class="row">
              <% 3.times do |num| %>
                <a class="blog-card" href="#">
                  <span class="img"></span>
                  <div class="blog-card-content">
                  <h3>Learn go series: Part V - Testing and API documentation</h3>
                  <div class="blog-info">
                    <div>
                      <span><strong>By Gaurav</strong> on 21 Jan 2018</span>
                      <span><i>Read time ~ 5 mins</i></span>
                    </div>
                    <div>
                        <span class="img-holder" />              
                      </div>
                    </div>
                  </div>
                </a>
              <% end %>
          </div>
        </div>
      </div>
      <% end %>
</div>
<% end %>

<%= partial "./partials/footer" %>