---
title: Works - Tarka Labs
---

<div class="mobile-hide">
    <%= partial "./partials/header" %>
</div>

<% wrap_layout :layout do %>
<div class="project-detail-hero desktop-hide">
    <a class="back-link" href="/works">Works</a>
    <img src="/images/works/<%= current_page.data.img_name %>-t.png"/>
</div>

<div class="page">
    <div class="container">
      <a class="back-link mobile-hide" href="/works">Works</a>

      <div class="project-innerpage">          
        <div class="readable">
          <div class="section-heading">
            <h1><%= current_page.data.name %></h1>
          </div>

          <div>
            <%= yield_content :about %>
          </div>
        </div>      

        <div class="showcase">
            <img class="mobile-hide" src="/images/works/<%= current_page.data.img_name %>.png"/>
            
          <dl>
            <dt>Members</dt>
            <dd><%= yield_content :members %></dd>
            <dt>Technologies Used</dt>

            <dd>
              <% technology_links(current_page.data['technologies']).each do |name, url| %>
                <% if url %>
                  <a href="<%=url%>" title="<%=name%>"><span class="techIcon <%=name%>"></span></a>
                <% else %>
                <span  title="<%=name%>" class="techIcon <%=name%>"></span>
                <% end %>
              <% end %>
            </dd>
          </dl>
        </div>
      </div>
      </div>
</div>
<% end %>

<%= partial "./partials/footer" %>