---
title: TarkaLabs - Software Development, Consulting and Training
---

<%= partial "./partials/header" %>

<div class="homepage">
  <div class="container hero-container">
    <div class="hero">
      <img src="/images/hero-image.png"/>
      <div>
        <h1><strong>We solve problems with science, art and code</strong></h1>
        <h1>We <a href="/about#whatwedo">Help</a>, <a href="/about#whatwedo">Teach</a> and <a href="about#whatwedo">Build</a> better software</h1>
        <span class="inline mobile-hide">
          <a href="/works" class="btn btn-secondary">Browse Works</a>
          <a href="#contact-us" class="btn btn-link mobile-hide">Contact us</a>
          <a href="/contact-us" class="btn btn-link desktop-hide">Contact us</a>
        </span>
      </div>
    </div>
    </div>

  <div class="section projects">
    <div class="container">
      <div class="section-heading">
        <h2>Works</h2>
        <a href="/works" class="btn btn-link">View all</a>
      </div>

      <div class="row horizontal-card-mobile">
        <% projects = sitemap.resources.select {|r| r.data['category'] && r.data['category'].downcase == 'project'} %>
        <% projects.sort_by{|p| p.data['order'] || 1000}.first(3).each do |project| %>
          <a class="project-card" href="<%=project.url%>">
            <img title="<%=project.data['img_name']%>" src="/images/works/<%=project.data['img_name']%>-t.png"/>
            <h3><%=project.data['name']%></h3>
            <p><%=project.data['short_desc']%></p>
            <div class="techused">
                <span class="techlabel">Built with</span>
          
                <% project.data['technologies'].split(',').each do |tech| %>
                  <span title="<%=tech%>" class="techIcon <%=tech.gsub(/\s/,'_')%>"></span>
                <% end %>
            </div>
            <span class="btn btn-link">Read more</span>
        </a>
        <% end %>
        </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
        <div class="section-heading">
          <h2>Talks</h2>
          <a href="/talks" class="btn btn-link">View all</a>
        </div>
        <div class="row desktop-hide horizontal-card-mobile">
          <% data.talks.talks.each do |f| %>
            <div class="talk-card">
              <img src="/images/talks/<%= f.img %>.jpg"/>
              <h3><%= f.heading %></h3>
              <p><%= f.description %></p>
              <p class="talk-by"><%= f.presenter %></p>
              <a href="/talks/<%= f.url_slug %>" class="btn btn-link mobile-hide">Watch Video</a>
            </div>
            <% end %>
        </div>
    </div>
    <div class="talks mobile-hide">
      <% data.talks.talks.each do |f| %>
      <div class="talk-index">
        <span class="talk-preview">
          <div class="toggle-btns">
            <span class="talk-prev"></span>
            <span class="talk-next"></span>
          </div>
          <img src="/images/talks/<%= f.img %>.jpg"/>
          <div class="ytplayer" data-videoid="<%=f.videoId%>"></div>
          <!--<iframe id="ytplayer" type="text/html" src="<%= f.url %>" frameborder="0"></iframe>-->
        </span>
        <div>
        <span class="talk-title">
          <span class="talk-heading"><%= f.heading %></span>
          <span class="talk-about"><%= f.description %></span>
          <div>
          <a href="/talks/<%= f.url_slug %>" class="btn-link">Watch in Full Screen</a>
          </div>
        </span>
        <span class="talk-by"><%= f.presenter %></span>
        </div>
      </div>
      <% end %>

      <div class="talk-index"></div>
    </div>
  </div>

  <div class="section blog">
    <div class="container">
      <div class="section-heading">
        <h2>Blog</h2>
        <a class="btn btn-link" href="https://medium.com/tarkalabs" target="_parent">View all</a>
      </div>

      <div class="row horizontal-card-mobile">
          <% data.posts[0...3].each do |post| %>
            <a class="blog-card" href="<%= post.link %>">
              <span class="img" style="background-image: url('<%= post.image %>')"></span>
              <div class="blog-card-content">
              <h3><span><%= post.title %></span></h3>
              <div class="blog-info">
                  <span>By <strong><%= post.author %></strong> on <%= Time.parse(post.published_at).strftime('%Y-%m-%d') %></span>
                  <span><i>Read time ~ 5 mins</i></span>
                </div>
              </div>
            </a>
          <% end %>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="section-heading">
        <h2>Testimonial</h2>
        <a class="btn btn-link">View all</a>
      </div>

      <div class="testimonials">
            <div class="who">
              <span class="pic">
                <img src="/images/clients/caratlane.png" />
              </span>
              <span class="pic"><img src="/images/clients/GeneticDirection.png" /></span>
              <span class="pic"><img src="/images/clients/fankave.png" /></span>
                
              <span class="count"><span id="count-current">1</span> / <span id="count-total">0</span></span>
            </div>
            <div class="what">
              <div class="toggle-btns">
                <span class="talk-prev" onclick="minusDivs(1)"></span>
                <span class="talk-next" onclick="plusDivs(1)"></span>
              </div>
                
                
              <div class="testi-quote">
                <span class="photo caratlane">
                    <img src="/images/clients/gurukeerthi-gurunathan.jpeg" />
                </span>
                <span class="name">Gurukeerthi Gurunathan</span>
                <span class="position">Co-founder, Caratlane</span>
                <span class="quote">Tarka labs have thought leaders, subject matter experts and thorough professionals. I like the discipline in the documentation of requirements, logging in feature estimates and timely delivery of the projects. They solve complex problems and build robust well-architected systems. The conversations with Tarka consultants has always been enriching. They are pure technology craftsmen passionate about work and abreast with the latest trends in the technology. Tarka labs have definitely exceeded my expectations.</span>
            </div>
            <div class="testi-quote">
                <span class="photo gd">
                    <img src="/images/clients/michael-sparks.jpeg" />
                </span>
                <span class="name">Michael Sparks</span>
                <span class="position">Director of Technology, Genetic Direction</span>
                <span class="quote">The quality of code offered by Tarka labs is highly impressive and on par with best industry standards. Their solutions are reasonably priced. Tarka labs consultants are smart, effective communicators and have been extremely educative. In technology lines, they have helped us build a frugal foundation where the reuse of components and systems have been the key differentiators. Projects progress every day and are delivered on time with high quality. It is hard to cross boundaries in technology and the consultants have done that at ease by working on multiple code repositories. The solutions have been thoughtful and built to last.<br/><br/>
                
                    It has been an amazing experience working with Tarka labs!
                </span>
              </div>
                
              <div class="testi-quote">
                <span class="photo fc">
                    <img src="/images/clients/sashi.jpeg" />
                </span>
                <span class="name">Sasi Parthasarathy</span>
                <span class="position">Founder, Fankave</span>
                <span class="quote">Tarka labs has been a good discovery for Fankave. They helped us build an array of interactive social experiences with collaborative efforts from both ends. Quite impressed with the technical acumen brought to the table by the team. The synergies have brought perfect fruition of the requirements. I would recommend Tarka labs services if you are trying to develop a MVP, look for a market fit, scale your product or at any stage of growth"
                </span>
              </div>
                
            </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container contact-us" id="contact-us">
      <div class="section-heading">
        <h2>Contact us</h2>
      </div>

      <%= partial "./partials/contact" %>
    </div>
  </div>

</div>

<%= partial "./partials/footer" %>


<script>
var slideIndex = 1;
var number = 1;
showDivs(slideIndex);

function plusDivs(n) {
    showDivs(slideIndex += n);
    
    if(slideIndex <= 0) {
        number = 1
    } else if(slideIndex === 1) {
       number = slideIndex
    }else {
       number = slideIndex
    };
    
    document.getElementById("count-current").innerHTML = number;
}
function minusDivs(n) {
    showDivs(slideIndex -= n);
    
    if(slideIndex <= 0 || slideIndex === 0) {
        number = 1
    }else {
       number = slideIndex
    };
    
    document.getElementById("count-current").innerHTML = number;
}

function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("testi-quote");
    var y = document.getElementsByClassName("pic");

    document.getElementById("count-total").innerHTML = x.length;
    
    if (n > x.length) {slideIndex = 1}
    if (n > y.length) {slideIndex = 1}
    
    if (n < 1) {slideIndex = x.length}
    if (n < 1) {slideIndex = y.length}
    
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
        y[i].style.display = "none";
    }
    
    x[slideIndex-1].style.display = "inline-block";
    y[slideIndex-1].style.display = "inline-block";
}
    
var tag = document.createElement('script');
var canSubstitutePlayer = false;

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
var player;
function onYouTubeIframeAPIReady() {
  console.log("ready to substitute player");
  canSubstitutePlayer = true;
}
$(document).ready(function(){
  $('.talk-index .talk-preview img').click(function(){
      $('.talk-index').removeClass('active');
      if(player!==null && player!== undefined) {
        player.destroy()
      }
      var $player = $(this).parents(".talk-preview").find(".ytplayer");
      var node = $player[0];
      var $node = $(node);
      var videoID = $node.data("videoid");
      player = new YT.Player(node, {height: $node.height(), width: $node.width(), videoId: videoID});
      // player = new YT.Player(node, {height: $node.height(), width; $node.width(), videoId: videoID});
      $(this).parents('.talk-index').toggleClass('active');

      /*var elePos = $(this).parents('.talk-index').offset().left;
      var scrollPos = $(this).parents('.talks').scrollLeft();
      console.log("scrollPos", elePos, scrollPos);

      if(elePos != 255){
        $('.talks').animate( { scrollLeft: '+=900' }, 300);
      }*/

  });
  $('.talk-index .talk-preview .toggle-btns .talk-next').click(function(){
        console.log("next clicked");
        $(this).parents('.talks').animate( { scrollLeft: '+=900' }, 300);
  });
  $('.talk-index .talk-preview .toggle-btns .talk-prev').click(function(){
        console.log("Prev clicked");
        $(this).parents('.talks').animate( { scrollLeft: '-=900' }, 300);
  });
})

</script>