---
title: Welcome to Middleman,
---

<%= partial "./partials/header" %>


<div class="page">
    <div class="container">
      <div class="section-heading">
        <h1>Talks</h1>
      </div>

      <div class="row talks-list">
      <% data.talks.talks.each do |f| %>
        <div class="talk-card">
            <iframe src="<%= f.url %>" frameborder="0" allowfullscreen></iframe>
            <h3><%= f.heading %></h3>
            <p><%= f.description %></p>
            <p class="talk-by"><%= f.presenter %></p>
            <span class="btn btn-link">Watch Video</span>
        </div>
        <% end %>
        </div>
  </div>
</div>

<%= partial "./partials/footer" %>