---
title: Talks - Tarka Labs
---

<%= partial "./partials/header" %>


<div class="page">
    <div class="container">
      <div class="section-heading">
        <h1>Talks</h1>
      </div>

      <div class="row talks-list">
      <% data.talks.talks.each do |f| %>
        <div class="talk-card">
            <iframe class="desktop-hide" src="<%= f.url %>" frameborder="0" allowfullscreen></iframe>
          <img class="mobile-hide" src="/images/talks/<%= f.img %>.jpg"/>
          <h3><%= f.heading %></h3>
          <p><%= f.description %></p>
          <p class="talk-by"><%= f.presenter %></p>
          <a href="/talks/<%= f.url_slug %>" class="btn btn-link mobile-hide">Watch Video</a>
        </div>
        <% end %>
        </div>
  </div>
</div>

<%= partial "./partials/footer" %>