---
title: People - Tarka Labs
---

<%= partial "./partials/header" %>

<div class="page">
    <div class="container about-page">

      <div class="sub-menu">
        <span class="label">ABOUT</span>
        <ul>
          <li><a href="/about">Company</a></li>
          <li><a href="/team" class="active">Team</a></li>
        </ul>
      </div>

      <div class="inner-wrapper">
        <div class="section-heading">
          <h1>Meet the Team</h1>
        </div>
          
        <div class="tarkans">
          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Vagmi Mudumbai",
                        shortName: "Vagmi",
                        image: "vagmi",
                        imgHover: "true",
                        designation: "Developer",
                        githubUrl: "https://github.com/vagmi",
                        stackoverflowUrl: "",
                        twitterUrl: "https://twitter.com/vagmi",
                        blogUrl: "https://tarkalabs.com/blog",
                        dribbbleUrl: "",
                        description: "With over 15 years of software craftsmanship and consulting under his belt, he is constantly looking to improve his skills and in search of better tools. Having worked on multiple languages and technologies ranging from Ruby, Clojure, Java, C#, Actionscript and C++, he has currently settled on Clojure, Ruby and Javascript. He loves to teach as much as he loves to learn."
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Dhruva Sagar",
                        shortName: "Dhruva",
                        image: "dhruva",
                        imgHover: "",
                        designation: "Developer",
                        githubUrl: "https://github.com/dhruvasagar",
                        stackoverflowUrl: "",
                        twitterUrl: "",
                        blogUrl: "http://dhruvasagar.com",
                        dribbbleUrl: "",
                        description: "Dhruva has been fascinated by computers from a very young age. He is someone who has a propensity towards writing beautiful code, which implies, good design, formatting and organisation. He is a full stack developer and is comfortable with Ruby, Javascript, VimScript and is learning Clojure, Haskell, Golang. He swears by VIM and is a huge open source enthusiast"
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Deepak Prasanna",
                        shortName: "Deepak",
                        image: "deepak",
                        imgHover: "",
                        designation: "Developer",
                        githubUrl: "https://github.com/deepakprasanna",
                        stackoverflowUrl: "",
                        twitterUrl: "",
                        blogUrl: "",
                        dribbbleUrl: "",
                        description: "Deepak has as much love for code as he has for reading and writing fiction. He is equally comfortable with Scala, Ruby and Javascript. He is extremely excited about Functional Reactive patterns and has been researching Haskell and Elm to that effect"
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Sudhakar Rayavaram",
                        shortName: "Sudhakar",
                        image: "sudhakar",
                        imgHover: "true",
                        designation: "Developer",
                        githubUrl: "https://github.com/rsudhakar",
                        stackoverflowUrl: "http://stackoverflow.com/users/87918/sudhakar-r",
                        twitterUrl: "https://twitter.com/SudhakarRay",
                        blogUrl: "http://sudhakar.online",
                        dribbbleUrl: "",
                        description: "Problem solver with 15 years of experience in software design and development across the stack. He is passionate about sensible user interfaces. Being a rookie cartoonist, Data visualizations and cartoons is his answer for effective communication of ideas"
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Kalpesh Patel",
                        shortName: "Kalpesh",
                        image: "kalpesh",
                        imgHover: "",
                        designation: "Developer",
                        githubUrl: "https://github.com/kalpeshp0310",
                        stackoverflowUrl: "",
                        twitterUrl: "",
                        blogUrl: "",
                        dribbbleUrl: "",
                        description: "Android developer who gives attention to details. He is currently playing around functional reactive programming and recently in love with kotlin and IOT"
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Pavan Kumar C",
                        shortName: "Pavan",
                        image: "pavan",
                        imgHover: "true",
                        designation: "Developer",
                        githubUrl: "https://github.com/pavankumarchalla",
                        stackoverflowUrl: "",
                        twitterUrl: "",
                        blogUrl: "",
                        dribbbleUrl: "",
                        description: "Passionate iOS developer who loves creating elegant apps and playing around with storyboards. Excited with react native and its compilation speed."
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Rajiv Manivannan",
                        shortName: "Rajiv",
                        image: "rajeev",
                        imgHover: "true",
                        designation: "Developer",
                        githubUrl: "https://github.com/rajivmanivannan",
                        twitterUrl: "",
                        blogUrl: "",
                        dribbbleUrl: "",
                        stackoverflowUrl: "http://stackoverflow.com/users/2176109/rajiv-manivannan",
                        description: "Passionate android developer who loves creating elegant apps. Rajiv also has a penchant for electronics. When he is not slinging out android apps, he can be seen tinkering with Arduinos and RaspberryPis. He is too humble to brag about his soldering skills."
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Raja Jawahar",
                        shortName: "Raja",
                        image: "raja",
                        imgHover: "true",
                        designation: "Developer",
                        githubUrl: "https://github.com/rajajawahar",
                        twitterUrl: "",
                        blogUrl: "",
                        dribbbleUrl: "",
                        stackoverflowUrl: "http://stackoverflow.com/users/4251124/raja-jawahar",
                        description: "Avid programmer who is fond of developing mobile apps. He has started with Android and now bagging knowledge on iOS. He spends time diligently contributing to StackOverflow."
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Divyanshu Upreti",
                        shortName: "Divyanshu",
                        image: "divyanshu",
                        imgHover: "",
                        designation: "Developer",
                        githubUrl: "https://github.com/divyanshu707",
                        stackoverflowUrl: "",
                        twitterUrl: "",
                        blogUrl: "",
                        dribbbleUrl: "",
                        description: "Divyanshu likes solving complex business problems using mathematics and programming. He obsesses over making things simple but no simpler. He likes coding in Ruby, Elixir, Clojure, JS and loves the combination of Elixir and React. Apart from this he enjoys reading SciFi/Non-fiction and playing his guitar."
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Vinoth kumar A",
                        shortName: "Vinoth",
                        image: "vinoth",
                        imgHover: "",
                        designation: "Developer",
                        twitterUrl: "https://twitter.com/avinoth_",
                        githubUrl: "https://github.com/avinoth",
                        stackoverflowUrl: "https://stackoverflow.com/users/3494845/avinoth",
                        blogUrl: "http://blog.avinoth.com/",
                        dribbbleUrl: "",
                        description: "A Server admin turned Developer. First introduced to BASIC at 6, he loves to try his hands on multiple programming languages and loves automating things. If you want to talk about human evolution, society or anthropology he is your guy."
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Alen",
                        shortName: "Alen",
                        image: "alen",
                        imgHover: "true",
                        designation: "Developer",
                        twitterUrl: "https://twitter.com/avidalen",
                        githubUrl: "https://github.com/alenthomas",
                        stackoverflowUrl: "https://stackoverflow.com/users/4779574/alen-thomas",
                        blogUrl: "",
                        dribbbleUrl: "",
                        description: "Developer with experience in python and currently picking up skills in NodeJs. Lately trying to pick up functional style of getting things done. Apart from programming loves everything DIY and a mild fan of anime."
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Prashanth Mogali",
                        shortName: "Prashanth",
                        image: "prashanth",
                        imgHover: "true",
                        designation: "Developer",
                        twitterUrl: "",
                        githubUrl: "https://github.com/mprashanth54",
                        stackoverflowUrl: "",
                        blogUrl: "https://prashanthmogali.com",
                        dribbbleUrl: "",
                        description: "Prashanth is a full stack hacker who started coding since he was 9. He can dabble around frontend, backend, cloud, database and has worked with 11 languages so far and is adding more to his stack. He loves to train aspiring developers with his experience and expertise. He believes and preaches \"If you aren't updated, you are outdated\"."
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Arvindh Sukumar",
                        shortName: "Arvindh",
                        image: "arvindh",
                        imgHover: "true",
                        designation: "Developer",
                        twitterUrl: "https://twitter.com/arvindhsukumar",
                        githubUrl: "https://github.com/arvindhsukumar",
                        stackoverflowUrl: "",
                        blogUrl: "",
                        dribbbleUrl: "",
                        description: "A Chartered Accountant by qualification, he's now an iOS & macOS developer by choice. Over the last 6 years, he has built multiple apps that aim to make life easier for people on the go. A huge believer in automating things, he's currently excited about the prospects of Machine Learning & AI."
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Jahangir Anwari",
                        shortName: "Jahangir",
                        designation: "Developer",
                        image: "jahangir",
                        imgHover: "",
                        twitterUrl: "",
                        githubUrl: "https://github.com/jahangiranwari",
                        stackoverflowUrl: "",
                        blogUrl: "",
                        dribbbleUrl: "",
                        description: "A technology enthusiast with a constant thirst for learning new ways to solve complex problems. A polyglot programmer who firmly believes in always using the right tool for the right job. Passionate and takes pride in writing clean and efficient code"
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Sharavanan Raja",
                        shortName: "Sharavanan",
                        designation: "UI Designer",
                        image: "sharavanan",
                        imgHover: "",
                        twitterUrl: "",
                        githubUrl: "",
                        stackoverflowUrl: "",
                        blogUrl: "",
                        dribbbleUrl: "",
                        description: "UI / UX Designer who started his career as a freelancer. He has 7 years of experience and worked on 20+ successful iOS and Android app designs. He is also an infographic video creator and is fluent in Adobe Photoshop, Aftereffects and Premiere pro. He loves to work on mobile app designs and UI animations"
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Gopi Raja",
                        shortName: "Gopi",
                        image: "gopi",
                        imgHover: "true",
                        designation: "UI Designer",
                        githubUrl: "",
                        twitterUrl: "https://twitter.com/gopiraj13",
                        stackoverflowUrl: "",
                        blogUrl: "http://gopiraja.com",
                        dribbbleUrl: "https://dribbble.com/gopiraja",
                        description: "Gopi is a full-time designer and a part-time biker. He has around 8 years of experienced in designing intuitive user interfaces. Before that he was a graphic designer for around 5 years. His general curiosity to find out how things work made him very much interested in human and computer interactions, Human psychology and User experience design"
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Shabeena Ghouse",
                        shortName: "Shabeena",
                        designation: "Developer",
                        image: "shabeena",
                        imgHover: "true",
                        twitterUrl: "",
                        githubUrl: "",
                        stackoverflowUrl: "",
                        blogUrl: "",
                        dribbbleUrl: "",
                        description: "An inquisitive technopile constantly working to achieve the Techno-utopia. Also a skilled IOS developer who believes in aesthetic products that strikes in harmony with user experience. With the recent awe for sturdy native apps gathering insights in React native and so. Also a person who feels more comfortable with books during leisure hours"
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Ramya Raghavan",
                        shortName: "Ramya",
                        designation: "People experience",
                        image: "ramya",
                        imgHover: "true",
                        twitterUrl: "",
                        githubUrl: "",
                        stackoverflowUrl: "",
                        blogUrl: "",
                        dribbbleUrl: "",
                        description: "Genetic Engineer by qualification with formative years in coding and the last 4 years in Client servicing. She is passionate about networking, people experience and the only non techie of the clan. She enjoys reading, glass painting and doodle art in her free time"
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Tanmaya Gupta",
                        shortName: "Tanmaya",
                        designation: "Developer",
                        image: "tanmaya",
                        imgHover: "true",
                        twitterUrl: "",
                        githubUrl: "",
                        stackoverflowUrl: "",
                        blogUrl: "",
                        dribbbleUrl: "",
                        description: "Polyglot programmer, having experience in Ruby, Python, Go, Javascript, Ruby On Rails, React JS who is always eager to learn new things. He likes playing chess and travelling"
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Harman Sohanpal",
                        shortName: "Harman",
                        designation: "Developer",
                        image: "harman",
                        imgHover: "true",
                        twitterUrl: "",
                        githubUrl: "",
                        stackoverflowUrl: "",
                        blogUrl: "",
                        dribbbleUrl: "",
                        description: "A full stack developer having worked with languages like Java, Javascript, Ruby and Go. Fascinated with Blockchain and Chatbot space and always looking for ideas to make life easier and simpler using technology"
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Naren Krishnaa",
                        shortName: "NarenK",
                        designation: "Developer",
                        image: "naren-krishnaa",
                        imgHover: "true",
                        twitterUrl: "",
                        githubUrl: "",
                        stackoverflowUrl: "",
                        blogUrl: "",
                        dribbbleUrl: "",
                        description: "iOS mobile app developer learning Android. He is keen in organising and attending iOS meet-ups. A Movie freak, likes reading and photography"
                    }
            )
          %>

        </div>
        
        <h2>Our Network (Alumni)</h1>

        <div class="alumni tarkans">
          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Gaurav Agarwal",
                        shortName: "Gaurav",
                        image: "gaurav",
                        imgHover: "",
                        designation: "Developer",
                        githubUrl: "https://github.com/gauravagarwalr",
                        stackoverflowUrl: "https://stackoverflow.com/users/1268651/gaurav-agarwal",
                        twitterUrl: "https://twitter.com/gauravagarwalr",
                        blogUrl: "http://blog.gauravagarwalr.com/",
                        dribbbleUrl: "",
                        description: "Gaurav has been programming since he was 9 years old, starting with logo in school. He has worked professionally on 14 languages. He is currently learning Rust and Flutter. In his free time, he likes to play Guitar. Outdoorsy!"
                    }
            )
          %>

          <%=
            partial('partials/tarkan_tile',
                    locals: {
                        name: "Narendran",
                        shortName: "Naren",
                        image: "naren",
                        imgHover: "",
                        designation: "Developer",
                        twitterUrl: "https://twitter.com/DudeWhoCode",
                        githubUrl: "https://github.com/DudeWhoCode",
                        stackoverflowUrl: "",
                        blogUrl: "http://blog.dudewho.codes/",
                        dribbbleUrl: "",
                        description: "Naren is a backend guy who loves to engineer systems at scale. He primarily works in Python, Golang and AWS but always ready get his hands dirty on other tech stacks. He is an open source enthusiast who speaks at tech conferences and loves giving something back to the community. While he is not stirring up code, you can find him training for cycling races and treating himself with gluten-free foods."
                    }
            )
          %>
        </div>
      </div>
  </div>
</div>

<%= partial "./partials/footer" %>


<script>
$(document).ready(function(){
    
    $(".tarkan img").on("click", function(){
        $('.tarkan').removeClass('active');
        $(this).parent('.tarkan').addClass('active');
    });
    
    $(".tarkan .close").on("click", function(){
        $(this).parent('.tarkan').removeClass('active');
    });
});

</script>