---
title: Works - Tarka Labs
---

<%= partial "./partials/header" %>


<div class="page">
    <div class="container">
      <div class="section-heading">
        <h1>Our Works</h1>
      </div>
      <p>
          We have been privileged to work with the following companies on their projects. We have helped them ship solutions, provided training and provide consultation on best practices on how to structure their teams and solve difficult technology problems.
        </p>

      <div class="row">
        <% projects = sitemap.resources.select {|r| r.data['category'] && r.data['category'].downcase == 'project'} %>
        <% projects.sort_by{|p| p.data['order'] || 1000}.each do |project| %>
          <a class="project-card" href="<%=project.url%>">
            <img src="/images/works/<%=project.data['img_name']%>-t.png"/>
            <h3><%=project.data['name']%></h3>
            <p><%=project.data['short_desc']%></p>
            <div class="techused">
                <span class="techlabel">Built with</span>
                <% project.data['technologies'].split(',').each do |tech| %>
                  <span title="<%=tech%>" class="techIcon <%=tech.gsub(/\s/,'_')%>"></span>
                <% end %>
            </div>
            <span class="btn btn-link">Read more</span>
        </a>
        <% end %>
        </div>
  </div>
</div>


<%= partial "./partials/footer" %>